@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --gy50: rgb(244, 246, 250);
    --gy500: rgb(98, 108, 127);
    --blue50: rgb(235, 240, 255);
    --blue100: rgb(237, 241, 249);
    --blue300: rgb(171, 193, 225);
    --blue500: rgb(48, 106, 255);
    --blue850: rgb(59, 77, 102);
    --blue900: rgb(49, 62, 81);
    --blue950: rgb(45, 57, 73);
    --gn100: rgb(224, 253, 239);
    --gn500: rgb(47, 216, 135);
    --purp100: rgb(246, 231, 255);
    --purp600: rgb(167, 41, 245);
    --orange50: rgb(255, 245, 237);
    --orange400: rgb(255, 126, 53);
    --red500: rgb(238, 84, 84);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
}

button {
    appearance: none;
    border: none;
    outline: none;
    font-family: inherit;
}

.m-text-1 {
    font-size: 88px;
    line-height: 100%;
    letter-spacing: 0px;
    font-weight: 500;
}

.m-text-2 {
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0px;
    font-weight: 500;
}

.m-text-2-l {
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0px;
    font-weight: 300;
}

.m-text-3 {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0px;
    font-weight: 500;
}

.m-text-4 {
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    font-weight: 500;
}

.m-text-5 {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 500;
    font-style: italic;
}

.d-text-1 {
    font-size: 144px;
    line-height: 100%;
    letter-spacing: 0px;
    font-weight: 500;
}

.d-text-2 {
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    font-weight: 500;
}

.d-text-2-l {
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    font-weight: 300;
}

.d-text-3 {
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0px;
    font-weight: 500;
}

.d-text-4 {
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0px;
    font-weight: 500;
}

.d-text-5 {
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 500;
}

.d-text-5-r {
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 400;
}

.d-text-6 {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 500;
    font-style: italic;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 90rem;
    width: 100%;
    height: 100vh;
    background-color: var(--gy50);
    color: var(--blue900);
    background-image: url(./assets/images/pattern-background-mobile-light.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 500ms;

}



:where(.contaier-menu, .container-questions, .complete-container) {
    display: none;
    /* padding: 32px 24px 0px; */
}

.selected-subject {
    width: 100%;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subject-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.img {
    display: grid;
    place-content: center;
    background-color: var(--purp100);
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

.toggle-container {
    appearance: none;
    background-color: inherit;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.toggle {
    position: relative;
    width: 32px;
    height: 20px;
    background-color: var(--purp600);
    border-radius: 999px;
    padding: 4px;
}

.toggle span {
    position: absolute;
    left: 4px;
    width: 12px;
    height: 12px;
    background-color: var(--white);
    border-radius: 50%;
    transition: all 500ms;
}

.toggle.dark span {
    transform: translateX(12px);
}

.wrapper {
    width: 100%;
    padding: 32px 24px 0px;


}

.contaier-menu {
    display: none;
    /* display: flex; */
    flex-direction: column;
    gap: 40px;
    text-align: center;

}

.header-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
}

.header-container h5 {
    color: var(--gy500);
}

.subjects-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
}

.subjects-container button {
    display: flex;
    gap: 16px;
    background-color: var(--white);
    color: var(--blue900);
    align-items: center;
    justify-content: flex-start;
}

.subject .immg {
    width: 40px;
    height: 40px;
}

.subject:nth-of-type(1) .img {
    background-color: var(--orange50);
}

.subject:nth-of-type(2) .img {
    background-color: var(--gn100);
}

.subject:nth-of-type(3) .img {
    background-color: var(--blue50);
}

.subject:nth-of-type(4) .img {
    background-color: var(--purp100);
}

.button {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    /* margin-top: 16px; */
}

.submit {
    background-color: var(--purp600);
    color: var(--white);
}

.error-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    display: none;

}

.error-msg span {
    color: var(--red500);
}

.container-questions {
    /* display: flex; */
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.question-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 16px;

    & h5 {
        color: var(--gy500);
    }
}

.progress {
    width: 100%;
    padding: 4px;
    height: 16px;
    border-radius: 999px;
    background-color: transparent;
    display: flex;
}

input[type='range'] {
    width: 100%;
    cursor: pointer;
    background: transparent;
    accent-color: var(--purp600);
}

input[type='range']::-webkit-slider-runnable-track {
    /* color: black; */
}

input[type='range']:focus,
input[type='range']:focus-visible {
    outline: none;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    opacity: 0;
}

.solutions li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;

    & span {
        width: 40px;
        height: 40px;
        border-radius: 6px;
        background-color: var(--gy50);
        color: var(--gy500);
        display: grid;
        place-content: center;
    }

    & h4 {
        color: inherit;
    }
}

.complete-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.score {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;

}

.score-container h4 {
    color: var(--gy500);
}

.score .subject-list {
    display: flex;
    justify-content: center;
}

.subject-item {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    gap: 16px;
    padding: 32px;
    background: inherit;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.1);
    border-radius: 12px;
}

.btn {
    display: block;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 16px;
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    .darkmode {
        background-color: var(--blue900);
        color: var(--white);
        background-image: url(./assets/images/pattern-background-mobile-dark.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }
}